


.counter {
  &__wrapper {
    background-color: #262431;
        // background-color: #fff;
        @include grid-container();

    }
    &__items {

      @include grid-column(3);

      @include mq($until: tablet) {
        width: 100%;
    }
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        height: 30rem;
        font-size: 1.6rem;

        @at-root {
          .counter__number {
            font-size: 8rem;
            color: #fff;
            font-weight: bold;
            + p {
              color: green;
              margin-top: -2rem;
              font-size: 2rem;
            }
          }
        }
    }
    &__style {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      @include size(10rem);
      background-color: #fff;
      border-radius: 50%;
    }
}