script(src="https://code.jquery.com/jquery-3.4.1.min.js")
script(src="../js/popper.min.js")
script(src="../js/bootstrap.min.js")
script(src="../js/slick.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js")
script(src="../js/counterup.js")
script(src="../js/custom.js")
script(src="../js/morphext.min.js")