mixin box()
    each val in ['Statistics','Security','Presentation']
        .services__box
            h2.services__title= val
            p.services__description Vestibulum ante ipsum primis in faucibus orci luctus eted ultrices posuere Curae primis in faucibus orci luctus eted.
