.container-fluid#Home
    .banner
        .banner__wrapper
            .banner__items
                .banner__text
                    h1 MOBILE APP <br>FOR #[span#js-rotating DESIGNERS, MARKETERS, DEVELOPERS]
                    p Leno is one of the easiest and feature packed marketing <br>automation apps in the market. Download it today!
                    .banner__btn
                        a.btn Read more
                        a.btn Get started
            .banner__items
                .banner__img
                    img(src="../images/header-iphone.png", alt="")