header
    .navbar
        a.navbar__logo(href="#", title="title")
            img.navbar__img(src="../images/logo.svg", alt="")
        nav.navbar__nav
            ul.navbar__menu
                +nav()
        .navbar__toggler
            .navbar__icon