.social {

    &__media {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__icon > *{


            font-size: 3rem;
            padding: 1rem 1rem;
            @include crl(5rem);
            background: #F0F0F7;
            color: black;
            margin: 1rem;
            transition:  all .5s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: #00C9DB;
                color: #fff;
            }
    }
}